@using (Html.BeginForm("SaveProduct", "Dashboard", FormMethod.Post))
{
    <input type="text" name="Name" id="Name" placeholder="Name" />
    <br />
    <input type="text" name="Price" id="Price" placeholder="Price" />
    <br />
    <input type="text" name="Description" id="Description" placeholder="Description" />
    <br />
    <button>Send</button>
}